<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <% if current_user %>
          <h1 class="fw-light">Hello <%= current_user.name %></h1>
          <p class="lead text-muted">Choose what to do from the buttons below</p>
          <p>
            <a href=<%= edu_root_path %>  class="btn btn-primary my-2">Go to Dashboard</a>
            <a href=<%= new_edu_session_path %> class="btn btn-secondary my-2">Create Class</a>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
          </p>
        <% else %>
        <h1 class="fw-light">You are not signed in.</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href=<%= new_user_session_path %> class="btn btn-primary my-2">Main call to action</a>
        </p>
        <% end %>
      </div>
    </div>
  </section>
</main>