<p id="notice"><%= notice %></p>

<p>
  <strong>Session:</strong>
  <%= @attendance.session %>
</p>

<p>
  <strong>Student:</strong>
  <%= @attendance.student_id %>
</p>

<p>
  <strong>Attended:</strong>
  <%= @attendance.attended %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @attendance.temperature %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
